# 1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [ ]:
length=int(input("Enter your length :"))
breadth=int(input("Enter your breadth :"))

Enter your length :10
Enter your breadth :10

In [ ]:
if length==breadth:
  print("square")
else:
  print("not")

square

# 2. Take three integer values from the user and print the greatest among them.

In [ ]:
a=int(input("Enter first number :"))
b=int(input("Enter second number :"))
c=int(input("Enter third number :"))

Enter first number :10
Enter second number :2
Enter third number :3

In [ ]:
if a>=b  and a>=c:
  print("A is the Largest Value")
elif b>=c and b>=c:
  print("B is the Largest Value")
else:
  print("C is the Largest")

A is the Largest Value

# 3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [ ]:
d=int(input("Enter Your Value :"))
if d>=75:
  print("Allow for exam")
else:
  print("not Allow")

Enter Your Value :10
not Allow

# 4. A school has the following rules for the grading system:

**Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+**

### Now, Ask the user to enter marks and print the corresponding grade.

In [ ]:
x=int(input("Enter your number :"))
if x>=90 and x<=100:
  print("A+")
elif x>=80 and x<=89:
  print("A")
elif x>=60 and x<=79:
  print("B")
elif x>=50 and x<=59:
  print("C")
elif x>=45 and x<=49:
  print("D")

elif x>=25 and x<=44:
  print("E")
else:
  print("F")

Enter your number :10
F

# 5. Print the following pattern using for and while loop.
```1 2 3 4 5 6 7```

```1 2 3 4 5 6```

```1 2 3 4 5```

```1 2 3 4```

In [38]:
for i in range(8, 4, -1):
  
    for j in range(1, i):
        print(j, end=' ')
    
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [ ]:
#while loop
i=8
while i>4:
    j=1
    while j<i:
        print(j,end=" ")
        j+=1
    print()
    i-=1

# 6. Display numbers from -100 to -10 using for loop.

In [ ]:
for i in range(-100, -9):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

# 7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [ ]:
total = 0
for number in range(10, 1000 + 1):
    count = 0
    for i in range(2, (number // 2 + 1)):
        if number % i == 0:
            count += 1
            break

    if count == 0 and number != 1:
        total += number

print("Sum of all prime numbers is", total)

Sum of all prime numbers is 76110

# 8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [ ]:
num = int(input("Enter a number: "))    
factorial = 1    
if num < 0:    
   print("Factorial does not exist")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       factorial = factorial*i    
   print("The Factorial is",factorial)

Enter a number: 7
The Factorial is 5040

# 9. Reverse a given integer number 27956240710.

In [ ]:
num = 27956240710


num_str = str(num)

rev_str=num_str[: : -1]
print(rev_str)

01704265972

# 10. Print the following pattern using for and while loop.

```# # #```

```# # # #```

```# # #```

```# #```

In [40]:
# for loop
for i in range(1, 5):
   
    if i == 1 or i == 3:
        print("# # #")
  
    elif i == 2:
        print("# # # #")
    
    else:
        print("# #")

# # #
# # # #
# # #
# #

In [41]:
#while loop

i = 1

while i <= 4:

    if i == 1 or i == 3:
        print("# # #")
   
    elif i == 2:
        print("# # # #")
    
    else:
        print("# #")
 
    i += 1

# # #
# # # #
# # #
# #

# 11. Display the Fibonacci series of 15 elements using the for and while loop.

In [36]:
# while loop
n=15
x=0
y=1
z=0

while z<=n:
  print(z)
 
  x=y
  y=z
  z=x+y

0
1
1
2
3
5
8
13

In [37]:
#for loop
n=15
x=0
y=1
z=0
for i in range(n):
  print(z,end=" ")
  z=x+y
  y=x
  x=z

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

# 12. Remove 2 and add 3 to the list and replace True with False.

```Li = [1,3,5, [2,3], True]```

```Output = [1,3,5, [3,3], False]```

In [1]:
Li = [1, 3, 5, [2, 3], True]   
nested_list_str = str(Li[3])      
new_str = nested_list_str.replace('2, 3', '3, 3')   
new_list = eval(new_str)          
Li[3] = new_list                 
Li[-1] = False                    
print(Li)

[1, 3, 5, [3, 3], False]

# 13. Find the intersection (common) of two sets.

S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [4]:
S1 = {1,4,6,8} 
S2 = {True, 1,2,10}
s3=S1.intersection(S2)
print(s3)

{True}

# 14. Input a list from the user then Remove duplicates from a list and create a set and find the max number. User_input = [1,9,3,4,5,200,54]

In [14]:
my_input=input("Enter your numbers :")

Enter your numbers :1,2,2,3,4,5

In [17]:
input_list=[int(k) for k in my_input.split(",")]
result_list = list(set(input_list))
print(result_list)

[1, 2, 3, 4, 5]

# Create set and MaX ValuE

In [18]:
set_value=set(result_list)
print(set_value)

{1, 2, 3, 4, 5}

In [19]:
set_max=max(set_value)
print(set_max)

5

# 15. Rename the key of a dictionary.

**Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.**

In [22]:
Dict = { "name": "Shakil", "age":27, "city":"Berlin", "country": "Germany" }
Dict["region"]=Dict.pop("country")
print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

# 16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [25]:
import pandas as pd

num = [10,100,300]
df=pd.DataFrame(num,columns=["number"])
df

   number
0      10
1     100
2     300

# 17. Change the value of a key in a given dictionary.

Write a Python program to change ‘age’ to 28 in the following dictionary.

Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [29]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
Dict["age"]=28
print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}